* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading--secondary {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.2rem;
  color: #101010;
}

.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.6rem;
}

.header__logo > img {
  height: 2.8rem;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.header__nav-item > a {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
  color: #232323;
  letter-spacing: 0.005em;
  line-height: 1.4rem;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header__sign-up {
  padding: 1.3rem 1.5rem 1.2rem 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.7rem;
  letter-spacing: 0.005em;
  border-radius: 1.2rem;
  background-image: linear-gradient(
    180deg,
    #272727 0%,
    #171717 46.01%,
    #101010 100%
  );
}

.header__cart-img {
  width: 4.2rem;
  height: 4.2rem;
}

.header__cart-img > img {
  width: 100%;
}

.hero-section {
  padding-top: 2.6rem;
}

.hero-section__content {
  column-gap: 9.5rem;
}

.hero-section__header {
  padding-left: 13.5rem;
}

.heading--seaweed {
  font-family: "Seaweed Script";
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5rem;
  color: #ff4415;
}

.heading--primary {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 7.2rem;
  color: #101010;
  letter-spacing: -0.01em;
  margin-bottom: 2.2rem;
}

.text-center {
  text-align: center;
}

.hero-section__desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.01em;
  color: #646464;
}

.hero-section__form {
  margin-top: 3.4rem;
  display: flex;
  align-items: center;
}

.hero-section__input {
  width: 30.6rem;
  height: 6.2rem;
  padding-left: 1.7rem;
  padding-right: 1.8rem;
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  border: 2px solid #3fda7d;
  background-image: url("../images/location-icon.png");
  background-repeat: no-repeat;
  background-position: 26.8rem 50%;
}

.hero-section__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #b1b1b1;
}

.hero-section__btn {
  width: 15.8rem;
  height: 6.2rem;
  background: linear-gradient(92.18deg, #3fda7d 48.17%, #00be4c 100%);
  box-shadow: 0px 10px 20px -10px rgba(234, 234, 234, 0.4);
  border: 2px solid #3fda7d;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-section__btn > span {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.hero-section__icon {
  background: #fff;
  border-radius: 12px;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section__icon-right {
  font-size: 1.8rem;
  color: #00be4c;
}

.hero-section__text {
  font-family: "Inter", sans-serif;
  font-weight: 50rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #838383;
  margin-top: 5rem;
}

.hero-section__sign-in {
  color: #ff4d20;
}

.food-recommend__content {
  margin-top: 7.1rem;
  padding: 0px 13.5rem;
}

.food-recommend__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-recommend__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.food-recommend__title > h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  list-style: 4rem;
  letter-spacing: -0.01em;
}

.food-recommend__button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.food-recommend__button-previous,
.food-recommend__button-next {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-recommend__icon {
  font-size: 1.4rem;
  color: #c4c4c4;
}

.food-recommend__button--active {
  background: #151515;
}

.food-recommend__button--active > .food-recommend__icon {
  color: #fff;
}

.food-recommend__main {
  margin-top: 8.4rem;
  display: flex;
  gap: 3.2rem;
}

.food-recommend__card {
  display: flex;
  flex-direction: column;
  width: 27rem;
  height: 13rem;
  border-radius: 24px;
  background-color: #f7f7f7;
  padding: 2rem 3rem;
  position: relative;
}

.food-recommend__card-name {
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #171717;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.food-recommend__card-text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #969696;
  margin-top: 1.6rem;
}

.food-recommend__card-price {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #ff4d20;
}

.food-recommend__card-img {
  position: absolute;
  left: 10rem;
  top: -3.2rem;
}

.food-recommend__card:nth-child(2) > .food-recommend__card-img {
  left: 12.5rem;
  top: -4rem;
}

.food-recommend__card:nth-child(3) > .food-recommend__card-img {
  left: 14rem;
  top: -2.4rem;
}

.food-recommend__card:nth-child(4) > .food-recommend__card-img {
  left: 14rem;
  top: -4rem;
}

.service__content {
  padding-top: 5.1rem;
}

.service__header {
  width: 43.2rem;
  height: 17.4rem;
  text-align: center;
  margin: 0 auto;
}

.service__header > span {
  font-family: "Seaweed Script";
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  color: #ff4415;
}

.service__main {
  margin: 0 21.5rem;
  gap: 10rem;
  margin-top: 5.5rem;
}

.service__card {
  text-align: center;
}

.service__card-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.005em;
  margin-top: 4rem;
}

.service__card-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.01em;
  color: #646464;
  margin-top: 2.4rem;
}

.service__offer {
  margin: 0 16rem;
  margin-top: 9.6rem;
}

.service__offer > img {
  width: 100%;
}

.popular-menu {
  padding-top: 17.9rem;
  padding-left: 13.5rem;
  padding-right: 13.5rem;
}

.popular-menu__main {
  margin-top: 2rem;
  width: 117rem;
  height: 86rem;
  margin-left: auto;
  margin-right: auto;
  column-gap: 3rem;
  row-gap: 4rem;
}

.popular-menu__header {
  width: 59rem;
  height: 17.4rem;
  text-align: center;
  margin: 0 auto;
}

.popular-menu__header > span {
  font-family: "Seaweed Script";
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  color: #ff4415;
}

.popular-menu__card {
  border: 1.2px solid #efefef;
  border-radius: 24px;
  background-color: #fff;
  padding-top: 1.8rem;
}

.popular-menu__card-img {
  height: 19rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-menu__card-body {
  padding-top: 1.2rem;
  padding-left: 2.8rem;
  padding-right: 3.5rem;
}

.popular-menu__card-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #181818;
  margin-top: 1rem;
}

.popular-menu__card-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.01em;
  color: #787878;
  margin-top: 1.2rem;
}

.popular-menu__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.popular-menu__card-price {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #060606;
}

.popular-menu__btn-like,
.popular-menu__btn-share {
  width: 3.2rem;
  height: 3.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.popular-menu__btn-like {
  background-color: #ff4415;
}

.popular-menu__btn-share {
  background-color: #171717;
}

.popular-menu__btn-icon {
  display: block;
  margin: auto auto;
  color: #fff;
  font-size: 16px;
}

.popular-menu__see-all-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  width: 18.8rem;
  height: 6.2rem;
  background: linear-gradient(101.98deg, #46c266 41.25%, #2fb652 98.64%);
  box-shadow: 0px 10px 20px -10px rgba(58, 186, 90, 0.16);
  border-radius: 16px;
  border: none;
  margin-top: 5.5rem;
  margin-left: auto;
  margin-right: auto;
}

.popular-menu__see-all-menu > span {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;
}

.popular-menu__icon {
  width: 3.8rem;
  height: 3.8rem;
  background: #ffffff;
  box-shadow: 0px 10px 20px -8px rgba(185, 66, 42, 0.19);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-menu__icon-right {
  font-size: 1.8rem;
  color: #00be4c;
}

.location-inner {
  padding-top: 12rem;
}

.location-inner__header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.location-inner__sub-heading {
  font-family: "Seaweed script";
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  color: #ff4415;
}

.location-inner__main {
  gap: 5.8rem;
  margin: 8rem 20.5rem 0;
}

.pickup-point {
  padding: 5.2rem 0 5.1rem;
}

.pickup-point__header {
  display: flex;
  gap: 5.8rem;
  align-items: center;
  margin-bottom: 8rem;
}

.pickup-point__heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: #101010;
}

.pickup-point__sub-heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  color: #c0c0c0;

  margin-top: 1rem;
}

.pickup-point__card {
  width: 44rem;
  border-bottom: 1.2px solid #f0f0f0;
}

.pickup-point__card:nth-child(2) {
  margin-bottom: 5.1rem;
}

.pickup-point__card-name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 3rem;
  letter-spacing: 0.2em;
  color: #36bd59;
}

.pickup-point__card-desc {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: #c7c7c7;

  margin-bottom: 3.3rem;
}

.pickup-point__card-locate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.9rem;
}

.pickup-point__card-address {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  color: #101010;
}

.map__img {
  height: 100%;
}

.blog {
  padding-top: 10.6rem;
  padding-bottom: 13rem;
}

.blog-inner__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-inner__sub-heading {
  font-family: "Seaweed Script";
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  color: #ff4415;
}

.blog-innner__sub-header {
  margin-bottom: 0.8rem;
}

.blog-inner__heading {
  margin-bottom: 1.8rem;
}

.blog-inner__note {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.01em;
  color: #646464;
}

.blog-inner__main {
  margin: 7rem 13.5rem 0;
  gap: 3.3rem;
}

.blog-inner__card {
  background-color: #fff;
  box-shadow: 0px 25px 120px -30px rgba(0, 0, 0, 0.08);
}

.blog-inner__card-img {
  width: 100%;
}

.blog-inner__card-body {
  padding: 3.2rem 6.8rem 3.8rem 3rem;
}

.blog-inner__card-name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.2rem;
  color: #1b1b1b;
}

.blog-inner__card-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.005em;
  color: #939393;

  margin-top: 1.4rem;
  margin-bottom: 2.4rem;
}

.blog-inner__card-btn {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.2rem 1.4rem 1.2rem 2rem;
  text-decoration: none;
  border-radius: 14px 16px 16px 16px;
}

.blog-inner__card-btn--green {
  background: linear-gradient(101.98deg, #46c266 41.25%, #2fb652 98.64%);
}

.blog-inner__card-btn--orange {
  background: linear-gradient(101.98deg, #ff6741 41.25%, #ff4415 98.64%);
}

.blog-inner__card-btn--yellow {
  background: linear-gradient(101.98deg, #ffbc2d 41.25%, #feb618 98.64%);
}

.blog-inner__card-btn > span {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.blog-inner__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.8rem;
  height: 3.8rem;
  background-color: #fff;
  box-shadow: 0px 10px 20px -8px rgba(185, 66, 42, 0.19);
  border-radius: 10px;
}

.blog-inner__icon-right {
  font-size: 1.6rem;
}

.blog-inner__icon-right--green {
  color: #36ba58;
}

.blog-inner__icon-right--orange {
  color: #ff6139;
}

.blog-inner__icon-right--yellow {
  color: #ffbb27;
}

.cta-inner {
  padding: 12rem 0;
  column-gap: 17.9rem;
  row-gap: 12rem;
}

.cta__image {
  justify-self: flex-end;
}

.cta__content > h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: #101010;
  margin-bottom: 2.2rem;
}

.cta__content > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.01em;
  color: #646464;
  opacity: 0.88;
  margin-bottom: 4rem;
}

.cta__logo {
  display: flex;
  align-self: center;
  gap: 2.2rem;
}

.cta__apple-store,
.cta__google-store {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.3rem;
  padding-right: 2.7rem;
  border: 1px solid #dbdbdb;
  border-radius: 18px;
}

.cta__apple-store > span,
.cta__google-store > span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
  color: #000;
}

.cta__subscribe {
  grid-column: 1 / span 2;
  justify-self: center;
  width: 112rem;
  height: 24rem;
  background: linear-gradient(110deg, #ff4415 55%, #feb618 45%);
  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.2rem;
}

.cta__subscribe-header > h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: #fff;

  margin-bottom: 2.2rem;
}

.cta__subscribe-header > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.01em;
  color: #fff;
  opacity: 0.88;
}

.cta__subscribe-form {
  display: flex;
  align-items: center;
}

.cta__subscribe-form > input {
  width: 30.7rem;
  height: 6.4rem;
  background-color: #fff;
  border-radius: 15px 0px 0px 15px;
  border: none;
}

.cta__subscribe-form > input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  color: #b1b1b1;
  padding-left: 2rem;
}

.cta__subscribe-form.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 15.7rem;
  height: 6.4rem;
  background-color: #2fb652;
  border-radius: 0px 16px 15px 0px;
  border: none;
}

.cta__subscribe-form.btn > span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;
}

.cta__subscribe-form.btn > .icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.925rem;
  height: 3.8rem;
  border-radius: 10px;
  background-color: #fff;
}

.cta__subscribe-form.btn .icon-right {
  font-size: 1.6rem;
  color: #00be4c;
}

.countries {
  padding-bottom: 10rem;
}

.countries-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4.2rem;
  column-gap: 10rem;
  padding: 0 15.5rem;
}

.countries-inner__header {
  grid-column: 1 / span 4;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: #101010;
}

.countries-inner__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.countries-inner__item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #666;
}

.footer {
  background-color: #f8f8f8;
}

.footer-content {
  grid-template-columns: 1.5fr repeat(4, 1fr);
  padding: 6.2rem 13.5rem 6rem;
}

.footer-content__about > .desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.01em;
  color: #767676;

  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.footer-content__about > .social {
  display: flex;
  gap: 1.7rem;
}

.footer-content__header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #030000;
}

.footer-content__info {
  justify-self: flex-end;
}

.footer-content__list {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;

  list-style: none;
  margin-top: 4rem;
}

.footer-content__item > a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.01em;
  color: #666;
  text-decoration: none;
}

.footer-content__copyright {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;

  margin-top: 6.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid #e6e6e6;
}

.footer-content__copyright > span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #666;
}
